/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { border:0; font-size:100%; font:inherit; vertical-align:baseline; margin:0; padding:0; }  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }  body { line-height:1; }  ol,ul { list-style:none; }  blockquote,q { quotes:none; }  blockquote:before,blockquote:after,q:before,q:after { content:none; }  table { border-collapse:collapse; border-spacing:0; }

p {
    font-size: 48pt;
    text-align: center;
}

label,
.bg {
    position: absolute;
    top: 0;
    bottom: 60px;
    width: 50%;

    &.left { left: 0 }
    &.right { right: 0 }
}

.bgL {
    left: 0;
}
.bgR {
    right: 0;
}
// .overlay {
//     z-index: 1;
//     background-color: transparent;
// }
// .underlay {
//     z-index: -1;
// }

#footer {
    position: absolute;
    width: 100%;
    background-color: black;
    bottom: 0px;
    z-index: 2;
}

#fBar {
    height: 60px;
    background-color: orange;
}

#fContent {
    background-color: grey;
    transition: height 1s;
    -moz-transition: height 1s; /* Firefox 4 */
    -webkit-transition: height 1s; /* Safari and Chrome */
    -o-transition: height 1s; /* Opera */
}

.drawerDown {
    height: 0;
}
.drawerUp {
    height: 240px;
}
