{% extends 'ui_boilerplate.html' %}
{% block content %}

    <h1>{{ challenge.tweet.text }}</h1>
    <p>at {{ challenge.tweet.timestamp }}</p>

    <form action="{{ url_for('hello') }}" method="post">
        {% for suspect in challenge.suspects() %}
            <label for="suspect-{{ suspect.id }}">
                <h3>@{{ suspect.username }}</h3>
                <img title="{{ suspect.name }}"
                     alt="@{{ suspect.username }}'s profile picture"
                     src="{{ suspect.pic_url.replace('_normal', '') }}"
                     width="150" />
                <p>{{ suspect.name }}</p>
            </label>
            <input type="radio" id="suspect-{{ suspect.id }}" name="suspect" value="{{ suspect.id }}" />
        {% endfor %}
        <input type="submit" />
    </form>

{% endblock %}

