{% extends 'ui_boilerplate.html' %}
{% block content %}

    <p>{{ challenge.tweet.timestamp }}</p>
    <p>"{{ challenge.tweet.censor() }}"</p>

    <form action="{{ url_for('hello') }}" method="post">

        {% set suspect = challenge.suspect.0 %}

        <label for="suspect-{{ suspect.id }}" id="label-left" class="challenge-left">
            <h3>@{{ suspect.username }}</h3>
            <img title="{{ suspect.name }}" alt="@{{ suspect.username }}'s profile picture" src="{{ suspect.pic_url.replace('_normal', '') }}" width="150" />
            <p>{{ suspect.name }}</p>
        </label>

        <input type="radio" id="suspect-{{ suspect.id }}" name="suspect" value="{{ suspect.id }}" />


        {% set suspect = challenge.suspect.1 %}

        <label for="suspect-{{ suspect.id }}" id="label-left" class="challenge-left">
            <h3>@{{ suspect.username }}</h3>
            <img title="{{ suspect.name }}" alt="@{{ suspect.username }}'s profile picture" src="{{ suspect.pic_url.replace('_normal', '') }}" width="150" />
            <p>{{ suspect.name }}</p>
        </label>

        <input type="radio" id="suspect-{{ suspect.id }}" name="suspect" value="{{ suspect.id }}" />

        <input type="submit" />
    </form>

{% endblock %}

