{% extends 'base.html' %}
{% block page %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


    {% block content %}
        <h1>hello.</h1>
    {% endblock %}


    <footer>
        <div id='footer'>
            <div id="fBar">
                
            </div>
            <div id="fContent" class='drawerDown'>
                <nav>
                    <a href="{{ url_for('hello') }}">tweetmatch</a>
                    {% if current_user.is_authenticated() %}
                        <a href="{{ url_for('moar') }}">load my tweets</a>
                        <a href="{{ url_for('me') }}">{{ current_user.name }}</a>
                        <a href="{{ url_for('logout') }}">logout</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">login</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </footer>

{% endblock %}